@import 'https://fonts.googleapis.com/css?family=Griffy';
@import "variables";

nav,footer {
	color: white;
	background-color: $colorBase;
	padding: 0.5rem;
	background-image: linear-gradient(darken($colorBase, 5%) 1px, darken(yellow, 20%) 2px ,transparent 1px);
	border-bottom: 2px solid white;
	border-top: 2px solid white;
	background-size: 100% 5px;
	box-shadow: inset 0 0 60px rgba(black, 0.2), 0 0 20px rgba(black, 0.4);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	text-shadow: 0 -1px 0 black;
	h1 {
		font-size: 1rem;
		font-weight: normal;
		margin: 0;
		text-transform: uppercase;
		padding: 0;
		i {
			display: block;
			text-transform: lowercase;;
			font-style: normal;
			font-size: 0.7rem;
			color: rgba(white, 0.5);
		}
	}
}
html {
	font-size: 150%;
	* {
		font-family: 'Griffy', cursive;
	}
}
body {
	background: lighten($colorBg, 10%);
	background-image: linear-gradient(darken($colorBg, 2%) 1px, transparent 1px);
	background-size: 100% 5px;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}
main {
	flex-grow: 1;
}

label {
	display: block;
	font-size: 1rem;
}
input,
button,
label {
	cursor: pointer;
	outline: none;
}
button {
	font-size: 0.5rem;
	width: 1rem;
	height: 1rem;
	border-radius: 0.5rem;
	background-color: $colorBase;
	color: white;
}
.speed {
	display: flex;
	margin-right: 1rem;


	.ico {
		width: 1rem;
		height: 1rem;
		background-size: cover;
		margin: 0.25rem;
		&.slow {
			background-image: url('slow.svg');
		}
		&.fast {
			background-image: url('fast.svg');
		}
	}
}
