@import "variables";


#stats{
	display: flex;
	font-size: 0.5rem;
	background-color: rgba(darken($colorBase, 5%), 0.9);
	padding: 0.5rem;
		border-radius: 0.3rem;
		box-shadow: inset 0 1px 1px rgba(black, 0.5);
	div {
		border: 1px solid black;
		background-color: white;
		width: 1rem;
		height: 4rem;
		border-radius: 3px;
		font-size: 0.5rem;
		color: gray;
		text-align: center;
		position: relative;

		&.halftone {
			width: 0.5rem;
			height: 2rem;
			box-shadow: 0 0 3px rgba(black, 0.5), inset 0 3px 8px rgba(white, 0.5);
			background-color: black;
			position: absolute;
			left: 0.7rem;
			top: -1px;
			z-index: 1;
		}

		&.empty {
			background-color: gray;
		}
		&.fail {
			$redColor: lighten(red, 20%);
			@for $i from 1 through 10 {

				&.level#{$i} {
					background-color: darken($redColor, $i*5%);
				}
			}


		}
	}

}
